* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: block;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: cadetblue;
}

.nav__list {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.nav__list a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.nav__list a:hover {
  color: black;
}

@media (max-width: 820px) {
  .header {
    display: none;
  }

  main {
    padding: 10px 0 0 0;
  }
}
.markup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.markup .markup__left {
  width: 28%;
}
.markup .markup__right {
  width: 72%;
}

@media (max-width: 920px) {
  .markup {
    display: block;
  }
  .markup .markup__left {
    width: 100%;
  }
  .markup .markup__right {
    width: 100%;
  }

  .name {
    display: none;
  }
}
.photo img {
  max-width: 100%;
}

.name-media {
  display: none;
}

@media (max-width: 920px) {
  .photo__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .name-media {
    display: block;
    padding: 40px 0 0 40px;
  }
  .name-media h2 {
    color: white;
    font-size: 40px;
  }
  .name-media .name-media__prof {
    color: white;
    font-size: 22px;
  }
}
.name {
  height: 200px;
  padding: 50px 0 0 35px;
}
.name h1 {
  font-size: 40px;
  font-weight: 600;
}
.name .name__prof {
  font-size: 18px;
}

section {
  padding: 12px 0;
}
section h2,
section h3 {
  height: 36px;
  font-size: 24px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 0 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section ul {
  padding: 0 0 0 35px;
}
section ul li {
  margin: 14px 0;
}
section p {
  padding: 0 0 0 35px;
}
section a {
  color: black;
}

.contact,
.about {
  color: white;
}
.contact h2,
.about h2 {
  background-color: rgba(255, 255, 255, 0.1);
}
.contact a,
.about a {
  display: block;
  color: white;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.contact a:hover,
.about a:hover {
  color: #967436;
}

.markup__left {
  background-color: #2c323d;
}

.contact {
  background-color: #343945;
}

.education__text,
.work-experience__text {
  margin: 10px 0 0 0;
}

.work-example__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 35px;
}
.work-example__container .work-example-item {
  width: 45%;
  margin: 20px 0 0 0;
}
.work-example__container .work-example-item h4 {
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: black;
}
.work-example__container .work-example-item h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: black;
  width: 30%;
  height: 2px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.work-example__container .work-example-item img {
  width: 300px;
  height: 200px;
  margin: 10px 0 0 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.work-example__container a {
  text-decoration: none;
}
.work-example__container a:hover h4 {
  color: red;
}
.work-example__container a:hover h4::after {
  width: 100%;
  background-color: red;
}
.work-example__container a:hover img {
  -webkit-box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.3);
}

@media (max-width: 920px) {
  .work-example__container {
    display: block;
  }
}
.profiles__item a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.profiles__item a:hover {
  color: red;
}

.footer__container {
  background-color: cadetblue;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
}
.footer__container .footer__logo img {
  width: 150px;
}